pkgbase = i686-linux-gnu-libglvnd
	pkgdesc = The GL Vendor-Neutral Dispatch library (i686-linux-gnu)
	pkgver = 1.7.0
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = any
	license = MIT
	makedepends = i686-linux-gnu-gcc
	makedepends = i686-linux-gnu-environment
	makedepends = i686-linux-gnu-configure
	makedepends = i686-linux-gnu-pkg-config
	makedepends = meson
	makedepends = ninja
	depends = i686-linux-gnu-libx11
	depends = i686-linux-gnu-libxext
	depends = i686-linux-gnu-glibc
	options = !buildflags
	options = !strip
	options = staticlibs
	options = !emptydirs
	source = libglvnd-v1.7.0.tar.gz::https://gitlab.freedesktop.org/glvnd/libglvnd/-/archive/v1.7.0/libglvnd-v1.7.0.tar.gz
	sha256sums = 2b6e15b06aafb4c0b6e2348124808cbd9b291c647299eaaba2e3202f51ff2f3d

pkgname = i686-linux-gnu-libglvnd
