pkgbase = i686-linux-gnu-libxrandr
	pkgdesc = X11 RandR extension library (i686-linux-gnu)
	pkgver = 1.5.5
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = any
	license = MIT
	makedepends = i686-linux-gnu-gcc
	makedepends = i686-linux-gnu-environment
	makedepends = i686-linux-gnu-configure
	makedepends = i686-linux-gnu-pkg-config
	depends = i686-linux-gnu-libxext
	depends = i686-linux-gnu-libxrender
	depends = i686-linux-gnu-glibc
	options = !buildflags
	options = !strip
	options = staticlibs
	options = !emptydirs
	source = https://xorg.freedesktop.org/releases/individual/lib/libXrandr-1.5.5.tar.xz
	sha256sums = 72b922c2e765434e9e9f0960148070bd4504b288263e2868a4ccce1b7cf2767a

pkgname = i686-linux-gnu-libxrandr
