pkgbase = i686-linux-gnu-sdl3
	pkgdesc = A library for portable low-level access to a video framebuffer, audio output, mouse, and keyboard (Version 3) (i686-linux-gnu)
	pkgver = 3.4.16
	pkgrel = 1
	url = https://libsdl.org
	arch = any
	license = Zlib
	makedepends = ninja
	makedepends = i686-linux-gnu-cmake
	depends = i686-linux-gnu-libx11
	depends = i686-linux-gnu-libxext
	depends = i686-linux-gnu-libxcursor
	depends = i686-linux-gnu-libxi
	depends = i686-linux-gnu-libxfixes
	depends = i686-linux-gnu-libxrandr
	depends = i686-linux-gnu-libglvnd
	depends = i686-linux-gnu-alsa-lib
	options = !debug
	options = !buildflags
	options = !strip
	options = staticlibs
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.16/SDL3-3.4.16.tar.gz
	source = https://github.com/libsdl-org/SDL/releases/download/release-3.4.16/SDL3-3.4.16.tar.gz.sig
	validpgpkeys = 0900104363B4C9D4223DE149D913FE7D4B61D39B
	validpgpkeys = 1528635D8053A57F77D1E08630A59377A7763BE6
	sha256sums = 7322236cd12090c3eb40b9728be4d49c76f66ad17d04369584d4ecad5cf77c68
	sha256sums = SKIP

pkgname = i686-linux-gnu-sdl3
