pkgbase = x86_64-linux-gnu-libxinerama
	pkgdesc = X11 Xinerama extension library (x86_64-linux-gnu)
	pkgver = 1.1.6
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = any
	license = MIT
	makedepends = x86_64-linux-gnu-gcc
	makedepends = x86_64-linux-gnu-environment
	makedepends = x86_64-linux-gnu-configure
	makedepends = x86_64-linux-gnu-pkg-config
	depends = x86_64-linux-gnu-libxext
	depends = x86_64-linux-gnu-glibc
	options = !buildflags
	options = !strip
	options = staticlibs
	options = !emptydirs
	source = https://xorg.freedesktop.org/releases/individual/lib/libXinerama-1.1.6.tar.xz
	sha256sums = d00fc1599c303dc5cbc122b8068bdc7405d6fcb19060f4597fc51bd3a8be51d7

pkgname = x86_64-linux-gnu-libxinerama
