pkgbase = i686-linux-gnu-rlimgui
	pkgdesc = Dear ImGui backend for raylib, as a static library (i686-linux-gnu)
	pkgver = 6.0
	pkgrel = 2
	url = https://github.com/raylib-extras/rlImGui
	arch = any
	license = Zlib
	makedepends = i686-linux-gnu-gcc
	makedepends = i686-linux-gnu-pkg-config
	depends = i686-linux-gnu-imgui
	depends = i686-linux-gnu-raylib
	options = !buildflags
	options = staticlibs
	options = !strip
	source = rlImGui-Raylib_6_0.tar.gz::https://github.com/raylib-extras/rlImGui/archive/refs/tags/Raylib_6_0.tar.gz
	source = rlimgui-cmdlists-size.patch
	sha256sums = 2d2385f42595ca1f5fd10434c1d34b4392994ba28105454ab88bc808a9bafd33
	sha256sums = 68220325e5cb693382aefd06e05e754475c0fb88852f31b383d4babad1fefbe4

pkgname = i686-linux-gnu-rlimgui
