pkgbase = x86_64-linux-gnu-libxi
	pkgdesc = X11 Input extension library (x86_64-linux-gnu)
	pkgver = 1.8.3
	pkgrel = 1
	url = https://xorg.freedesktop.org/
	arch = any
	license = MIT
	makedepends = x86_64-linux-gnu-gcc
	makedepends = x86_64-linux-gnu-environment
	makedepends = x86_64-linux-gnu-configure
	makedepends = x86_64-linux-gnu-pkg-config
	depends = x86_64-linux-gnu-libxext
	depends = x86_64-linux-gnu-libxfixes
	depends = x86_64-linux-gnu-glibc
	options = !buildflags
	options = !strip
	options = staticlibs
	options = !emptydirs
	source = https://xorg.freedesktop.org/releases/individual/lib/libXi-1.8.3.tar.xz
	sha256sums = 7ad60056f01af4f786cfe93b3a7707447711626fc8da2637bec71a90409babe5

pkgname = x86_64-linux-gnu-libxi
